* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1230px;
  margin: 0px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.main {
  flex-grow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.btn {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    gap: 4px;
    outline: none;
}

.btn-primary {
  background: #1890FF;
  border-radius: 2px;
  border: 1px solid #1890FF;
  color: #FFF;
}

.btn-outline {
border: 1px solid #D9D9D9;
border-radius: 2px;
background: #FFF;
box-shadow: 0px 0px 0px 0px rgba(00, 00, 00, 0.00);
color: #595959;
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  min-height: 124px;
}

.header-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.footer {
  display: flex;
  align-items: center;
  min-height: 156px;
}

.footer-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  flex-grow: 1;
}
